In [2]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [3]:

df = pd.read_csv(r'C:\Users\User\OneDrive\Рабочий стол\data.csv', encoding = 'Windows-1251')
df

,job_title,hh_title,age,salary,exp. period,title of exp.
0,data analyst,Data analyst,22.0,NaN,2.67,Data Analyst
1,data analyst,Data Analyst,21.0,NaN,0.83,Junior Data Analyst
2,data analyst,Data Analyst,30.0,NaN,7.50,Data Analyst
3,data analyst,Data Analyst,24.0,NaN,4.92,Data Analyst
4,data analyst,Data Analyst,27.0,450000.0,3.25,Business Intelligence Analyst
...,...,...,...,...,...,...
995,sql,Программист разработчик эксперт по внедрению ...,51.0,NaN,25.42,Главный специалист Отдела перспективных технол...
996,sql,Программист-разработчик,22.0,NaN,1.58,Full Stack
997,sql,Программист c# .Net Core ASP.Net Core .Net ...,42.0,NaN,9.33,BackEnd Developer .Net C#
998,sql,Python SQL R Data Science Statistics AI Machin...,NaN,NaN,16.08,Study Scientific Leader Data Science and Adva...
999,sql,Junior Data Scientist/Data Analyst/Data Engine...,19.0,NaN,0.33,Technical Support Intern

In [4]:
X = df[['age', 'salary', 'exp. period' ]]
X = X.fillna(0)

In [5]:
y = df['job_title']
y = y.fillna(0)

In [6]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.8, stratify = y)

In [7]:
#GaussianNB

model = GaussianNB()

In [8]:
model.fit(Xtrain, ytrain)

GaussianNB()

In [9]:
ymodel = model.predict(Xtest)
accuracy_score(ytest, ymodel)

0.29125

In [10]:
#перекрестная проверка модели
cross = cross_val_score(model, X, y, cv = 10)
cross.mean()

0.344

In [11]:
#KNeighborsClassifier
model1 = KNeighborsClassifier(n_neighbors = 3)
model1.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [12]:
ymodel1 = model.predict(X)
accuracy_score(y, ymodel1)

0.29

In [13]:
cross2 = cross_val_score(model1, X, y, cv = 10)
cross2.mean()

0.857